* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    top: 0;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;

    justify-content: space-between;
    align-items: flex-end;
    background-color: #fff;
    padding-bottom: 20px;
}

.heady {
    max-width: 1512px;
    margin: 0 auto;
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}

ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
    align-items: center;

}

.under {
    position: relative;
    font-size: large;
}

.under:before {
    content: '';
    background-color: #000;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    transition: all 0.3s ease-in-out;
}

.under:hover {
    background-position: 0;
}

.under:hover::before {
    width: 100%;
}

.icons {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    margin-right: 2%;
    margin-top: 1%;
}

.icons img {
    cursor: pointer;
}

.header-logo {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .ul {
        display: none;
    }

    .buy-tag {
        display: none;
    }
}

.burger {
    display: none;
    cursor: pointer;
}

.buy-tag {
    gap: 2rem;
    align-items: flex-end;
}

@media (max-width: 768px) {
    .burger {
        display: inline;
        margin-top: 24px;
    }

    .header-logo {
        display: contents;
    }

    .header {
        align-items: center;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer {
    text-align: center;
    margin-top: 10%;
}

footer ul {
    display: contents;
    color: #b2b2b2;
}

footer p {
    color: #b2b2b2;
    cursor: pointer;
}

.footer {
    max-width: 1512px;
    margin: 0 auto;
}

.col-md-4 {
    flex: 1;
    padding: 10px;
}

h3 {
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}

.copyright {
    color: #999;
    font-size: 14px;
    margin-top: 20px;
}


.card {
    width: 300px;
    text-align: left;
    height: 400px;
    margin: 3% 1%;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.cards {
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 4%;
}

.overlay {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: rgba(77, 77, 77, .9);
    color: #FEF5DF;
    opacity: 0;
    transition: all 0.5s;
    font-family: 'Playfair Display', serif;
}


.items {
    padding-left: 20px;
    letter-spacing: 3px;
}

.head {
    font-size: 30px;
    line-height: 40px;

    transform: translateY(40px);
    transition: all 0.7s;

    hr {
        display: block;
        width: 0;

        border: none;
        border-bottom: solid 2px #FEF5DF;

        position: absolute;
        bottom: 0;
        left: 20px;

        transition: all .5s;
    }
}

.price {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
    margin-top: 20px;
}

.cart {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    transform: translateY(40px);
    transition: all 0.7s;

    i {
        font-size: 16px;
    }

    span {
        margin-left: 10px;
        cursor: pointer;
    }
}

.card:hover .overlay {
    opacity: 1;

    & .head {
        transform: translateY(0px);
    }

    & hr {
        width: 75px;
        transition-delay: 0.4s;
    }

    & .price {
        transform: translateY(0px);
        transition-delay: 0.3s;
        opacity: 1;
    }

    & .cart {
        transform: translateY(0px);
        transition-delay: 0.6s;
        opacity: 1;
    }
}

@media (min-width: 768px) {}

.slider-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    overflow: hidden;
    background-size: contain;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.button-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

.mena {
    position: absolute;
    top: 70px;
    right: 5px;
    z-index: 10000;
}

.ol {
    box-shadow: 0 0 5px #000;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.Products {
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.alaki {
    display: none;
}

.a-products {
    padding: 0.5rem 2rem;
    color: white;
    background-color: #4572d1;
    text-align: center;
    margin: 20%;
}